.cabecalho_menu_hamburguer {
  width: 24px;
  height: 24px;
  background-image: url("../img/Menu.svg");
  background-repeat: no-repeat;
  background-position: center;
  display: inline-block;
}
.cabecalho {
  background-color: var(--branco);
  display: flex;
  justify-content: space-between;
  /* A justify-content propriedade alinha os itens do contêiner flexível 
    quando os itens não usam todo o espaço disponível no eixo principal (horizontalmente).
    Space-between:
    separa os container da do mesmo display por exemplo tenho 2 div com conteudos 
    cada div vai ficar de um lado do container se for mais de uma vai ser dividido proporcional  */
  align-items: center;
  position: relative;
}
.container {
  display: flex;
  align-items: center;
}
.containerImg {
  padding: 1rem;
}
.containerImgFavoritos{

  padding: 1rem;

}
/*.container_botao:hover ~ .lista__menu{

    display: block;
    
    /* Agora quando eu clico aparece a lista e quando eu clico novamente some com ela.
     Então eu botei um .container, no botão, selecionou o input, eu botei :checked, 
     esse checked é uma pseudo classe. Ela detecta se está preenchida aquele input checkbox.
 E depois eu botei um acento ~, aquilo é chamado combinador CSS. 
 Um combinador CSS desse aqui, do acento ~, ele vai procurar um outro elemento que vem em seguida 
 daquele de antes, que tem aquela classe que eu botei depois. 
 } */
.lista__menu {
  position: absolute;
  top: 100%;
  width: 222px;
  margin-left: -100%;
  transition-duration: 2s;
  position: absolute;
  top: 100%;
  width: 222px;
}
/* .logo{

  width: 15px ;
} */
#menu {
  border: none;
}

.aparecerMenu {
  margin-left: 0;

  transition-duration: 1s;
}
#listaMenu2{

position: absolute;
margin-top: 18px;

}
.lista__menu__item:hover{
background-color: rgb(212, 212, 219);
  
  }
.aparecerMenu2{

  display: none;
}

.lista__menu__titulo {
  text-transform: uppercase;
  color: var(--laranja);
  font-weight: 700;
}
.lista__menu__item {
  text-transform: uppercase;

  color: var(--azul);
}
.lista__menu__titulo,
.lista__menu__item {
  padding: 1rem;
  background-color: #efefef;
}
.containerTitulo {
  display: none;
}

/* .lista__menu2 {
  display: none;
} */
.container2 {
  display: flex;
  align-items: center;
  margin-right: 50px;
}



.opcoes{
  display: none;
}
@media screen and (min-width: 1024px) {
  .cabecalho_menu_hamburguer {
    display: none;
  }
  .containerTitulo,
  .containerTituloNegrito {
    font-size: 30px;
    font-family: var(--fonte-principal);
  }
  .containerTitulo {
    display: block;

    font-weight: 400;
  }
  .containerTituloNegrito {
    font-weight: 700;
  }
.container,.logo {

  margin-left: 27px;
}
 
  .containerImgFavoritos {
    display: none;
  }
  .opcoes{
    display: flex;
  }
  .opcoes-itens{
  
    padding: 0 1em;
    text-transform: uppercase ;
  }
  .container,.logo{

    margin-left: 15px;
  }
  .container,.containerTitulo{

    margin-left: 35px;
  } 
}
