@import url("../css/header.css");
:root{

    --cor-de-fundo: #EBECEE;
    --branco: #FFFFFF;
    --laranja: orange;
    --azul:rgb(152, 152, 211);
}
body{

    background-color: var(--cor-de-fundo);
}
